
<section class="container py-5" id="about">
  <div class="row mt-4 py-3">
    <div class="col-12 d-flex flex-column text-center">
      <h2>ABOUT</h2>
      <h5 class="text-secondary fw-normal py-2 fst-italic">Learn more about me, my background, and what motivates me.</h5>
    </div>
  </div>
  <div class="row flex-row-reverse flex-md-row mt-5 pt-5">
    <div class="col-9 col-md-5 text-md-end">
      <p>In 2024 I Starting my learnin journey   </p>
    </div>
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="../assets/images/about-img-1.jpg" alt="img">
    </div>
  </div>
  <div class="row justify-content-md-end mt-5 pt-5">
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="../assets/images/about-img-2.jpg" alt="img">
    </div>
    <div class="col-9 col-md-5">
      <h5>2024</h5>
      <h5>Higher Education and Career Growth</h5>
      <p>I start my journey from Version Control and Collaboration,Swift Development.</p>
    </div>
  </div>  
  <div class="row flex-row-reverse flex-md-row mt-5 pt-5">
    <div class="col-9 col-md-5 text-md-end">
      <p>HTML,CSS,Javascrip,Graphical Design, Java Development, Linux Web Hosting and Wordpress</p>
    </div>
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="../assets/images/about-img-3.jpg" alt="img">
    </div>
  </div>
 
</section>